{:tasks
 {:requires ([babashka.fs :as fs])
  preview {:doc "Build site with Quarto and preview"
           :task (do (clojure "-M:clay -A:markdown")
                     (shell "quarto preview site"))}
  build (do (println "Removing public folder")
            (fs/delete-tree "public")
            (println "Rendering site folder")
            (clojure "-M:clay -A:markdown")
            (shell "quarto render site")
            (println "Moving site/_site to public")
            (fs/move "site/_site" "public"))}}
